@import "./breakpoint.scss";
.Greeting {
  background-color: #9abdfd;
  border-radius: 30px;
  &__content {
    padding: 34px 50px 0px 97px;
    position: relative;
    height: 608px;
    @include large-screen {
      padding: 14px 20px 0px 37px;
    }
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      @include large-screen {
        display: none;
      }
    }
    p {
      font-size: 32px;
      color: white;
      margin-bottom: 100px;
      font-weight: bold;
      letter-spacing: 2px;
    }
    h3 {
      font-size: 56px;
      color: white;
      max-width: 557px;
      font-weight: bold;
      span {
        font-size: 70px;
      }
    }
  }
}
