$margin-bt: 63px;
@import "./breakpoint.scss";
.slider-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(#005bff, #4200ff);
  border-radius: 20px;
  padding: 90px 0px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: left;

  h2 {
    align-self: flex-start;
    color: #fff;
    @include small-screen {
      font-size: 18px;
    }
  }
  p {
    @include small-screen {
      font-size: 14px;
    }
  }
  div {
    margin-right: 400px;
    width: 600px;
    @include x-large-screen {
      margin-right: 0px;
    }
    @include small-screen {
      margin-left: 30px;
    }
    @include very-small-screen {
      width: 350px;
      margin-left: 80px;
    }
  }
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
  background-color: #679bff;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.prevbt {
  left: $margin-bt;
  @include small-screen {
    left: 5px;
  }
}

.slider-button:last-child {
  right: $margin-bt;
  @include small-screen {
    right: 5px;
  }
}
